Repository NVIDIA/TransformerEngine: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, clang-format, cpplint

.pre-commit-config.yaml:

# Copyright (c) 2022, NVIDIA CORPORATION & AFFILIATES. All rights reserved.
#
# See LICENSE for license information.

default_language_version:
  python: python3

ci:
  autofix_prs: false
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit suggestions'
  autoupdate_schedule: quarterly
  submodules: false
  skip: []

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
      - id: black
        name: Format python code
        args: [--line-length=100]
        types: [python]
        files: ^transformer_engine/

  - repo: local
    hooks:
      - id: pylint
        name: Check python code style
        entry: python -m pylint
        language: system
        types: [python]
        files: ^transformer_engine/
        args: ["--rcfile=./pylintrc"]

  - repo: local
    hooks:
      - id: clang-format
        name: Format c/c++/cuda code
        entry: clang-format -i
        language: system
        files: ^transformer_engine.*\.(c|cc|cxx|cpp|cu|cuh|h|hpp)$

  - repo: local
    hooks:
      - id: cpplint
        name: Check c/c++/cuda code style
        entry: cpplint
        language: system
        files: ^transformer_engine.*\.(c|cc|cxx|cpp|cu|cuh|h|hpp)$

minor tweak
  docs/examples/attention/attention.ipynb
Due: none

remove linters, fix clang-format
  .pre-commit-config.yaml
Due: none

fix clang-format
  .pre-commit-config.yaml
Due: none

minor tweaks
  transformer_engine/pytorch/attention.py
Due: pylint

fix
  .pre-commit-config.yaml
Due: none

changed err messages
  tests/jax/test_distributed_layernorm_mlp.py
Due: none

fix lint
  transformer_engine/common/utils.py
  transformer_engine/pytorch/attention.py
Due: pylint

Clear saved tensor data in linear op after bprop
  transformer_engine/pytorch/ops/basic/basic_linear.py
  transformer_engine/pytorch/ops/fused_forward/linear_bias_activation.py
  transformer_engine/pytorch/ops/fuser.py
Due: pylint

Fix Pylint error
  transformer_engine/pytorch/ops/fused_forward/linear_bias_activation.py
Due: pylint

add draft fwd function for swa+cp
  transformer_engine/pytorch/attention.py
Due: pylint

[JAX] Splitting `csrc/modules.cpp` by category (#883)
  build_tools/jax.py
  transformer_engine/jax/csrc/extensions.h
  transformer_engine/jax/csrc/extensions/activation.cpp
  transformer_engine/jax/csrc/extensions/attention.cpp
  transformer_engine/jax/csrc/extensions/misc.cpp
  transformer_engine/jax/csrc/extensions/normalization.cpp
  transformer_engine/jax/csrc/extensions/packing.cpp
  transformer_engine/jax/csrc/extensions/pybind.cpp
  transformer_engine/jax/csrc/extensions/quantization.cpp
  transformer_engine/jax/csrc/extensions/softmax.cpp
  transformer_engine/jax/csrc/extensions/transpose.cpp
  transformer_engine/jax/csrc/modules.cpp
Due: clang-format, cpplint

added DL framework callbacks for bootstrapping userbuffers without MPI
  build_tools/pytorch.py
  transformer_engine/CMakeLists.txt
  transformer_engine/pytorch/csrc/comm_gemm_overlap.h
  transformer_engine/pytorch/csrc/extensions/pybind.cpp
  transformer_engine/pytorch/csrc/userbuffers/CMakeLists.txt
  transformer_engine/pytorch/csrc/userbuffers/ipcsocket.cc
  transformer_engine/pytorch/csrc/userbuffers/userbuffers-host.cpp
  transformer_engine/pytorch/csrc/userbuffers/userbuffers.h
  transformer_engine/pytorch/module/base.py
Due: pylint, clang-format, cpplint

removed userbuffers availability check in TE modules since userbuffers is now always compiled
  build_tools/pytorch.py
  transformer_engine/pytorch/__init__.py
  transformer_engine/pytorch/csrc/comm_gemm_overlap.h
  transformer_engine/pytorch/csrc/extensions.h
  transformer_engine/pytorch/csrc/extensions/misc.cu
  transformer_engine/pytorch/csrc/extensions/pybind.cpp
  transformer_engine/pytorch/csrc/userbuffers/userbuffers-host.cpp
  transformer_engine/pytorch/csrc/userbuffers/userbuffers.h
  transformer_engine/pytorch/module/__init__.py
  transformer_engine/pytorch/module/layernorm_linear.py
  transformer_engine/pytorch/module/layernorm_mlp.py
  transformer_engine/pytorch/module/linear.py
Due: pylint, clang-format, cpplint

added comm+GEMM overlap example with LayerNormMLP
  examples/pytorch/comm_gemm_overlap/ln_mlp_with_overlap.py
Due: none

made order of gated act consistent in all branches
  transformer_engine/jax/flax/module.py
Due: pylint

Code clean up
  transformer_engine/common/transpose/cast_transpose_fusion.cu
Due: clang-format, cpplint

Make transformer_engine::getenv arguments independent of C++ ABI version (#896)
  transformer_engine/common/util/cuda_runtime.cpp
  transformer_engine/common/util/system.cpp
  transformer_engine/common/util/system.h
Due: clang-format, cpplint

[PyTorch] Avoid select op in PyTorch extensions (#865)
  transformer_engine/pytorch/cpp_extensions/normalization.py
  transformer_engine/pytorch/cpp_extensions/transpose.py
  transformer_engine/pytorch/csrc/common.cu
  transformer_engine/pytorch/csrc/common.h
  transformer_engine/pytorch/csrc/extensions.h
  transformer_engine/pytorch/csrc/extensions/normalization.cu
  transformer_engine/pytorch/csrc/extensions/pybind.cpp
  transformer_engine/pytorch/csrc/extensions/transpose.cu
  transformer_engine/pytorch/csrc/ts_fp8_op.cpp
Due: pylint, clang-format, cpplint

[PyTorch] Add support for cuDNN FusedAttention + THD + CP (#885)
  tests/pytorch/fused_attn/run_fused_attn_with_cp.py
  tests/pytorch/fused_attn/test_fused_attn_with_cp.py
  transformer_engine/pytorch/attention.py
Due: pylint

[JAX] Made order of gated act consistent in all branches (#902)
  transformer_engine/jax/flax/module.py
Due: pylint

minor change
  transformer_engine/pytorch/attention.py
Due: pylint

Update name of PyTorch extensions module
  tests/pytorch/test_recipe.py
Due: none

p2p AG + atomic GEMM working with NVTE_AG_P2P_MULTI_ATOMIC=1
  build_tools/pytorch.py
  build_tools/utils.py
  examples/pytorch/comm_gemm_overlap/test_gemm.py
  transformer_engine/common/userbuffers/comm_gemm_overlap.h
  transformer_engine/common/userbuffers/userbuffers.cu
  transformer_engine/pytorch/csrc/comm_gemm_overlap.h
Due: clang-format, cpplint

enable flash attention for swa+cp
  transformer_engine/pytorch/attention.py
Due: pylint

remove an assert of swa+cp
  transformer_engine/pytorch/attention.py
Due: pylint

call SWAFuncWithCP for swa+cp
  transformer_engine/pytorch/attention.py
Due: pylint

subclass DPA with BaseModule and test with test_gpt_checkpointing
  tests/pytorch/test_numerics.py
  transformer_engine/common/fused_attn/fused_attn.cpp
  transformer_engine/pytorch/attention.py
  transformer_engine/pytorch/cpp_extensions/fused_attn.py
  transformer_engine/pytorch/fp8.py
  transformer_engine/pytorch/module/base.py
  transformer_engine/pytorch/module/layernorm_linear.py
Due: pylint, clang-format, cpplint

typo fix
  transformer_engine/pytorch/attention.py
Due: pylint

update UT to resolve comments
  tests/pytorch/test_numerics.py
Due: none

follow changes from main
  tests/pytorch/test_numerics.py
  transformer_engine/pytorch/module/grouped_linear.py
Due: pylint

expose multi_tensor_* kernels
  transformer_engine/pytorch/optimizers/__init__.py
Due: pylint

added reset_counters kernel to reset atomic GEMM counters to initial states
  transformer_engine/common/userbuffers/comm_gemm_overlap.h
  transformer_engine/common/userbuffers/userbuffers.cu
  transformer_engine/common/userbuffers/userbuffers.h
  transformer_engine/pytorch/csrc/comm_gemm_overlap.h
Due: clang-format, cpplint

[JAX] Added unit tests for distributed LayernormMLP (#878)
  tests/jax/test_distributed_layernorm_mlp.py
Due: none

Remove lint
  .github/workflows/lint.yml
Due: none

Reformat FP8 Meta
  tests/jax/test_distributed_layernorm_mlp.py
  transformer_engine/jax/__init__.py
  transformer_engine/jax/dot.py
  transformer_engine/jax/flax/module.py
  transformer_engine/jax/fp8.py
  transformer_engine/jax/layernorm.py
  transformer_engine/jax/mlp.py
Due: pylint

Remove ShardingType and MajorShardingType
  examples/jax/encoder/README.md
  tests/jax/pytest.ini
  transformer_engine/jax/flax/module.py
  transformer_engine/jax/praxis/module.py
Due: pylint

Fix unit-tests
  tests/jax/test_custom_call_compute.py
  tests/jax/test_helper.py
Due: none

Fix lint errors
  transformer_engine/jax/flax/module.py
Due: pylint
